.wrapper {
    height: 100vh;

    background: #00000090;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.modal {
    background: rgb(218, 218, 218);
    height: 100vh;
    width: 450px;

    position: absolute;
    top: 0;
    right: 0;

    z-index: 9;
}


.card {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
}
